tests/test.yml
site
.vagrant
.DS_Store
*.retry
*.log
.cache
roles/bertvv.samba
roles/geerlingguy.docker
roles/geerlingguy.nfs
roles/vladgh.samba.server   
# Vim
[._]sw[a-p]

# Session
Session.vim

# IntelliJ
/.idea/
workingdir/*